<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <header>
    <img class="logo" src=/images/logo-mercado-liebre.svg width="200px">
    
    <br>

    <p class="navbar">Buscar productos, marcas</p><br>
    <img class="buscador" src="/images/magnifying-glass-solid.svg" width="21px" height="21px">
    <br>
    <p class="p"><img src="/images/hand-holding-dollar-solid.svg"  width="15" height="12">Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul type="none">
            <li>Ofertas</a></li>
            <li>Tiendas Oficiales</a></li>
            <li>Vender</a></li>
            <li>Ayuda</a></li>
        </ul>
    <br>
        <ul type="none">
            <li>Creá tu cuenta<img class="img" src="/images/id-card-regular.svg"  width="15" height="12"></a></li>
            <li>Ingresá<img class="img" src="/images/right-to-bracket-solid.svg"  width="15" height="12"></a></li>
            <li>Mis compras<img class="img" src="/images/basket-shopping-solid.svg"  width="15" height="12"></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
        <br>
   </header>
</body>
<footer>
    <img class="tarjeta" src="/images/credit-card-solid.svg">
    <br>
    <b class="titulos">Pagá con tarjeta o en efectivo</b>
    <p class="texto-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <img class="regalo" src="/images/gift-solid.svg">
    <br>
     <b class="titulos">Envío gratis desde $ 2.500</b>
     <p class="texto-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p> 
    <img class="seguridad" src="/images/user-shield-solid.svg">
    <br>        
     <b class="titulos">Seguridad, de principio a fin</b>
     <p class="texto-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>

     <p class="copyright">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>