<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <header>
    <div class="top-header">
        <div class="logo"> 
            <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <div class="navbar" action="#" method="GET">
            <input type="text" name="texto" placeholder="Buscar productos, marcas y más">
        </div>
        <button class="buscador"><div><i class="fa fa-search"></i></div></button>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>>
        </ul>
        <ul>
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
        <br>
   </header>
   <main>
   <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas" width="100%">
</section>
<h3>Ofertas</h3>
<section>

    <article>
        <img class="borde" src= "/images/img-cafetera-moulinex.jpg" width="75%">
        
        <div class="descripción-producto">
        <img class="camión"src= "/images/truck-solid (1).svg" width="20px" height="20px">
        <div class="precio">$6.770</div>
    <p class="descuento">40% off</p>
    
    <b class="descripción">Cafetera Moulinex</b>
    </div>
    
    </article>
    
    <article>
     <img class="borde" src="/images/img-macbook-pro-2019.jpg" width="75%">
     <div class="descripción-producto">
     <img class="camión"src="/images/truck-solid (1).svg" width="20px" height="20px">
     <div class="precio">$230.000</div>
    <p class="descuento">20% off</p>
    
    
    <b class="descripción">MacBook Pro 2019</b>
</div>
</article>
    
    <article>
     <img class="borde" src="/images/img-samsung-galaxy-s10.jpg" width="75%">
     <div class="descripción-producto">
     <img class="camión"src="/images/truck-solid (1).svg" width="20px" height="20px" >
     <div class="precio">$70.500</div>
    <p class="descuento">10% off</p>
    
    <b class="descripción">Samsung Galaxy S10</b>
</div>
</article>
    
        <article>
     <img class="borde" class="borde" src="/images/img-tv-samsung-smart.jpg" width="78%">
     <div class="descripción-producto">
     <img class="camión"src="/images/truck-solid (1).svg" width="20px" height="20px">
     <div class="precio">$23.200</div>
    <p class="descuento">5% off</p>
    
    <b class="descripción">SmartTv Samsung 43"</b>
</div>
    </article>
    <br>
</section>
</main>
<footer>
    <section>
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <section>
        <i class="fa-solid fa-gift"></i>
        <h4>Envío desde $2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section>
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
    </section>

    <section class="licencia">
        <div>Copyright © 1999-2023 MercadoLiebre S.R.L.</div>
    </section>
</footer>
</body>
</html>