<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <header>
    <div class="top-header">
        <div class="logo"> 
            <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <div class="navbar" action="#" method="GET">
            <div>Buscar productos, marcas y más</div>
        </div>
        <div class="buscador"><i class="fa fa-search"></i></div>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
        <br>
   </header>
   <main>
   <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas" width="100%">
</section>
<form class="formulario" action="/register" method="post">
    <h3>Ingresá tus datos</h3>
    <input type="text" name="nombre-y-apellido" placeholder="Nombre y apellido">
    <input type="text" name="usuario" placeholder="Nombre de usuario">
    <input type="email" name="email" placeholder="E-mail">
    <h3>Tu fecha de nacimiento</h3>
    <input type="date" name="nacimiento">
    <h3>Tu domicilio</h3>
    <input type="text" name="domicilio" placeholder="Domicilio">
    <h3>¿Cómo piensas utilizar tu perfil?</h3>    
    <label>
        <label><input type="radio" name="opcion">Comprador</label>
        <label><input type="radio" name="opcion">Vendedor</label>
    </label>
    <h3>¿Qué le interesaría ver?</h3>
    <label class="checkbox">
        <label><input type="checkbox" name="opcion">Electrónica</label>
        <label><input type="checkbox" name="opcion">Productos saludables</label>
        <label><input type="checkbox" name="opcion">Hogar</label>
        <label><input type="checkbox" name="opcion">Juguetería</label>
        <label><input type="checkbox" name="opcion">Moda</label>
        <label><input type="checkbox" name="opcion">Perfumería</label>
    </label>
    <h3>Foto de usuario</h3>
    <input type="file" name="foto">
    <h3>Contraseña</h3>
    <input type="password" name="constraseña" minlength="10" placeholder="Ingrese una contraseña entre 6 y 12 caracteres" required minlength="6" maxlength="12">
    <h3>Confirmá tu contraseña</h3>
    <input type="password" name="constraseña-confirmar" placeholder="Repetí tu contraseña" required minlength="6" maxlength="12">
    <button type="submit" name="registrar">Registrarse</button>
</form>
</main>
<footer>
    <i class="fa-solid fa-credit-card"></i>
    <br>
    <b class="titulos">Pagá con tarjeta o en efectivo</b>
    <p class="texto-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
     <i class="fa-solid fa-gift"></i>
    <br>
     <b class="titulos">Envío gratis desde $ 2.500</b>
     <p class="texto-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p> 
     <i class="fa-solid fa-user-shield"></i>
    <br>        
     <b class="titulos">Seguridad, de principio a fin</b>
     <p class="texto-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>

     <p class="copyright">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>