.formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.formulario input {
    border: 1px solid #727272;
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.boton{
        border: 1px solid #727272;
        border-radius: 20px;
        background-color: #ffffff;
        color: #000000;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-decoration: none;
    }
.boton:hover{
        background-color: #1259c3;
        color: #ffffff;
        transition: color, background-color, 450ms;  
    }
button:hover{
        background-color: #1259c3;
        color: #ffffff;
        transition: color, background-color, 450ms;  
    }
.checkbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
}
