*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(247,228,17);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #ffffff;
    color: #666;
    margin-left: 20px;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
    margin-bottom: 0px;
    position: relative;
}
.buscador{
    background-color: #ffffff;
    color: #666;
    margin-left: 20px;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;

}
.p{
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    position: relative;
}
ul{
    padding: 0px;
}
h3{
   font-size: 20px;
   color:#4e4e4e;
   padding: 30px 30px 0px 9px; 
   margin-top: 30px;

}
div{
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}
.descuento{
    font-size: 15px;
    color: #39b54a;
    text-align: left;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.descripción{
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
    font-weight: normal;
    border-bottom: 5px
}
.burger-menu{
    text-align: center;
    color: white;
    background-color: #03264C;
    padding: 6px;
    width: 30px;
    border-radius: 5px;
    margin: auto;
}
footer{
    text-align: center;
    background-color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.tarjeta{
    text-align: center;
    width: 2.5em;
    margin-top: 40px;
    margin-bottom: 5px;
}
.regalo{
    text-align: center;
    width: 2.5em;
    margin-top: 40px;
    margin-bottom: 5px;
}
.seguridad{
    text-align: center;
    width: 2.5em;
    margin-top: 40px;
    margin-bottom: 5px;
}
.titulos{
    font-size: 16px;
}
.texto-pie{
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.copyright{
    text-align: left;
}
main{
    background-color: rgb(233, 231, 231);
    text-align: center;
}
article{
    background-color: #ffffff;
    width: 250px;
    margin: auto;
    margin-bottom: 1rem;
}
.camión{
    display: block;
    font-size: 16px;
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

}

@media(min-width: 768px){
    main section > article{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 45%;
    }
       main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
       }
       header{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
       }
      header > .navbar{
        text-align: left;
    width: 45%;
    margin-left: 10%;
    height: 10%;
    margin-top: 30px;
    }
    header > nav {
        text-align: left;
        top: 2%;
        right: 58%;
        position: relative;
        position: 2;
    }            
    header > .p{
        text-align: right;
        left: 50%;
        position: relative;
        position: 1;
        top: 10%;
    }
 .logo{
    width: 300px;
 }
 .buscador{
    top: 30px;
    right: 25px;
    position: relative;
 }
 header > .burger-menu{
 display: none;
 }
}
.descripción-producto{
    flex-wrap: wrap;
    font-size: 16px;
    text-align: left;
    border-top: 1px solid #efefef;
    margin: 0px;
    position: relative;
}

@media(min-width: 1020px){
    main section article {
        width: 20%;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
       }
       header{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
       }
      header > .navbar{
        text-align: left;
    width: 45%;
    margin-left: 10%;
    height: 10%;
    margin-top: 30px;
    }
    header > nav {
        text-align: center;
        top: 0%;
        right: -20%;
        position: relative;
    }
    header > .p{
        text-align: right;
        left: -35%;
        position: relative;
        position: 1;
        top: -10%;
    }
 nav {
    position: relative;
 }
 .logo{
    width: 300px;
 }
 .buscador{
    top: 30px;
    right: 25px;
    position: relative;
 }
 header > .burger-menu{
    display: none;
    }
}
